<!-- <select #select (change)='getProductByCategory(select.value)'>
    <option *ngFor="let category of categorys" [value]="category._id">
        {{category.category_name}}</option>
</select>
<input type="text" [(ngModel)]="searchTerm">
<h1>{{userCart | json}}</h1>
<h1>last order total sum: {{totlalSumFromOldOrder}}</h1>


<ul *ngFor="let item of products">
    <li>{{item._id}}</li>
    <li [innerHTML]='item.prdouct_name |colorYellow:searchTerm'></li>
    <img [src]="item.img_url" alt="">
    <button (click)='getProductByCategory(item.category_id._id)'>{{item.category_id.category_name}}</button>
</ul>

<div class="container">
    <ol>
        <li *ngFor="let product of productsFromLastOrder" style="text-decoration: underline;">{{product.prdouct_name}}</li>
    </ol> 
</div> -->
<mat-drawer-container class="container">
    <!-- side cart -->
    <mat-drawer class="side" mode="side" [opened]='opened'>
        <header>
            <h2>Your Cart</h2>
        </header>
        <mat-card class="cartProduct" *ngFor="let product of userCart; let i = index">
            <mat-card-header>
                <!-- <p>{{product | json}} </p> -->
                <img mat-card-avatar [src]="productsFromLastOrder[i].img_url" alt="User Avatar">
                <mat-card-title class="cartProductTitle">{{productsFromLastOrder[i].prdouct_name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <label>Quantity: {{product.quantity}}</label>
                <label>Price: {{productsFromLastOrder[i].price}}</label>
            </mat-card-content>
        </mat-card>
        <footer>
            <h3 *ngIf="errorMsg">{{errorMsg}}</h3>
            <h4>total sum: {{totlalSumFromOldOrder}}</h4>
        </footer>
    </mat-drawer>
    <!-- main view -->
    <mat-drawer-content>
        <header>
            <h2>Products</h2>
            <span (click)='toggleCart()' class="material-icons">
                reorder
            </span>
        </header>
        <div class="products">
            <mat-card class="Productbox" *ngFor="let product of products">
                <mat-card-header class="productHeader">
                    <mat-card-title class="cartProductTitle">{{product.prdouct_name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img class="productImg" [src]="product.img_url" alt="User Avatar">
                    <p>Price: {{product.price}}</p>
                    <button mat-raised-button (click)="openDialog(product)">Add item to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>