<mat-drawer-container class="container" *ngIf="httpCallService.openOrder">
    <mat-spinner color='Accent' class="spinner" *ngIf="loading"></mat-spinner>
    <!-- side cart -->
    <mat-drawer class="side" mode="side" [opened]='opened'>
        <span (click)='toggleCart()' class="material-icons arrow" *ngIf="opened">
            arrow_right_alt
        </span>
        <header>
            <h2>Your Cart</h2>
        </header>
        <mat-card class="cartProduct" *ngFor="let product of userCart; let i = index">
            <mat-card-content>
                <div class="headerDetails">
                    <img mat-card-avatar [src]="productsFromLastOrder[i].img_url" alt="User Avatar">
                    <span class="cartProductTitle">{{productsFromLastOrder[i].prdouct_name}}</span>
                </div>
                <div class="details">
                    <label>Quantity: {{product.quantity}}</label>
                    <label>Price: {{productsFromLastOrder[i].price}}</label>
                    <span class="material-icons delete" (click)='removeProductFromCart(product)'>
                        delete
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
        <footer>
            <h3 *ngIf="errorMsg">{{errorMsg}}</h3>
            <h4>total sum: {{totlalSumFromOldOrder}}</h4>
            <button mat-stroked-button (click)="removeItemFromCart()">Empty Cart</button>
            <button mat-stroked-button (click)="gotoOrder()">Order</button>
        </footer>
    </mat-drawer>
    <!-- main view -->
    <mat-drawer-content class="mainView">
        <mat-form-field class="searchProduct" appearance="fill">
            <mat-label>search product by name</mat-label>
            <input placeholder="          search product by name" type="text" [(ngModel)]="productSearchName" matInput>
            <div class="errorForSearch" *ngIf="errorMsgForSearch">{{errorMsgForSearch}}</div>
        </mat-form-field>
        <button class="saerchBtn" mat-stroked-button (click)='getProductByName()'>search</button>
        <header class="mainHeafer">
            <span (click)='toggleCart()' class="material-icons arrow" *ngIf="!opened">
                arrow_right_alt
            </span>
            <span (click)='toggleCart()' class="material-icons arrow" *ngIf="opened">
                arrow_left_alt
            </span>
            <button mat-stroked-button class="productsBtn" (click)="getProducts()">Products</button>
            <button class="serachByCategoryBtn" *ngFor="let category of categorys" mat-stroked-button
                (click)="getProductByCategory(category._id)">{{category.category_name}} |</button>
        </header>
        <h2 class="empty" *ngIf="!productFilter && !products">Empty for the moment</h2>
        <div class="products" *ngIf="!productFilter">
            <div class="categorySort" *ngFor="let category of productsByCategory; let i = index">
                <div class="cardContainer">
                    <h1 class="categoryName">{{category[0].category_id.category_name}}</h1>
                    <div class="wrapper">
                        <div *ngFor="let product of category">
                            <mat-card class="Productbox">
                                <mat-card-header class="productHeader">
                                    <span class="price" [matBadge]="product.price" matBadgeColor="warn">price</span>
                                    <mat-card-title class="cartProductTitle">{{product.prdouct_name}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <img class="productImg" [src]="product.img_url" alt="User Avatar">
                                    <button class="addItem" mat-stroked-button (click)="openDialog(product)">Add item to
                                        Cart</button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products" *ngIf="productFilter">
            <div class="categorySort" *ngFor="let category of productsByCategory; let i = index">
                <div class="cardContainer">
                    <h1 class="categoryName">{{category[0].category_id.category_name}}</h1>
                    <div class="wrapper">
                        <div *ngFor="let product of category">
                            <mat-card class="Productbox">
                                <mat-card-header class="productHeader">
                                    <span class="price" [matBadge]="product.price" matBadgeColor="warn">price</span>
                                    <mat-card-title class="cartProductTitle">{{product.prdouct_name}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <img class="productImg" [src]="product.img_url" alt="User Avatar">
                                    <button class="addItem" mat-stroked-button (click)="openDialog(product)">Add item to
                                        Cart</button>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>

</mat-drawer-container>
<app-oredr *ngIf="!httpCallService.openOrder" [userCart]='userCart' [productsFromLastOrder]='productsFromLastOrder'
    [totlalSumFromOldOrder]='totlalSumFromOldOrder' [userInfo]='userInfo'></app-oredr>
   