.card {
    font-weight: bold;
    margin: 30px;
    padding: 10px;
    width: 200px;
    opacity: 69%;
    background: white;
    color: #42240c;
    font-family: "Patrick Hand", cursive;

    // height: 300px;
}

.enter {
    opacity: 69%;
    background: white;
    color: #42240c;
}
.titleHeader {
    font-family: "Permanent Marker", cursive !important;
    color: #c81912;
    font-size: 22px;
    cursor: pointer;
}

.header {
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .card {
        width: 80%;
    }
}

.chip {
    background-color: #424141 !important;
    color: #fff;
}

.btn {
    background: none;
    border: none;
}

label,
input {
    margin: 2px;
    padding: 5px;
}

.enter {
    color: #cbe2b0;
    width: fit-content;
    padding: 10px;
    margin: 20px 30px 20px 30px;
}

.error {
    padding-top: 5px;
    font-size: 15px;
}

mat-card-title {
    color: #c81912;
}
