@media only screen and (max-width: 600px) {
    .sideOrder {
        width: 40% !important;
    }
}

.sideOrder {
    width: fit-content;
    background-color: #899fb4;
    border-right: 3px solid white;
}

.arrow {
    font-size: 30px;
}

.mainView {
    background-image: url("../../images/adminBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: cadetblue;
}

.products {
    display: flex;
    flex-direction: column;
    margin: 10px;
    .Productbox {
        padding: 10px 0px;
        margin: 10px;
        border: 1px white solid;
        width: 150px;
        .productHeader {
            cursor: pointer;
            height: fit-content;
            margin: 0px;
        }
        p {
            margin: 10px;
        }
    }
}

.categoryName {
    padding: 4px;
    color: blanchedalmond;
    width: fit-content;
}

.productImg {
    margin-left: 25%;
    height: 6rem;
    max-width: 5rem;
}

.wrapper {
    display: flex !important;
    flex-direction: row;
    max-width: 10rem;
}

.remove {
    position: relative;
    z-index: 2;
    top: 4px;
    left: 2px;
}

.form {
    margin-top: 50%;
    * {
        display: block;
    }
}

.newProductHeader {
    margin-top: 10%;
    text-align: center;
}

.price {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 1px;
    right: 9px;
    transform: rotate(20deg);
}

.remove {
    margin-left: 45%;
}

.uploadBtn {
    padding-top: 18px;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px whitesmoke solid;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.changeCategory{
    width: 70%;
    margin-left: 15%;
}
label {
    margin-left: 15%;
    margin-bottom: 5px;
}
