.toolbar {
    background-color: #899fb4;
    font-family: "Permanent Marker", cursive;
    color: whitesmoke;
    border-bottom: white solid 3px;
    .btnHomePage {
        font-family: "Permanent Marker", cursive;
        font-size: larger;
    }
}
