<mat-card class="enter">
    <mat-card-title>A little bit about us</mat-card-title>
    <mat-card-content>
        <h3>Urban Jungle was born 200 years ago and passed over the the recipe for success in home plants growing</h3>
        <p>At Urban Jungle we have the highest quality nursery plants available in the Queens, NYC and Long Island NY
            area. Garden World is always looking to improve the quality of their plants by carefully selecting its
            plants from commercial and local nursery growers. Our growers are selected based on their ability to
            continuously grow high quality plants, as well as, their reliability and adaptability for our growing area.

            Our whole operation is based on trust, between you, and us and between us and the growers.
        </p>
    </mat-card-content>
</mat-card>