.enter{
    width: 35vw;
    min-width: 335.837px;
    min-height: 266px;
    padding: 10px;
    margin:30px 30px 20px 30px; 
    background: #899fb4;
    color: white;
    font-weight: bold;
}

mat-card-title{
    color: white;
}

.seconadP{
    color: #42240c;
}