/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #ecb390;
background-image: url("https://pingpoint.co.id/media/images/Membuat_Urban_Farming_dengan_Gaya_Vertical_Gard.original.jpg");
background-repeat: no-repeat;
background-size: cover; 
 }

 .mat-card{
    background-color: #ecb390;
 }

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mat-chip-list-wrapper{
    margin-top: 30px !important;
}

.mark{
    color: yellow;
}

mat-card-title {
    font-family: 'Patrick Hand', cursive;
    color: green;
}

.spinner{
    position: absolute;
    top: 30vh;
    left: 40vw;
    z-index: 10;
}