/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #ecb390;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mat-chip-list-wrapper{
    margin-top: 30px !important;
}

mat-card-title{
    color: #cbe2b0;
}

.mark{
    color: yellow;
}
