<mat-card class="card">
    <mat-card-title class="header">General Information</mat-card-title>
    <mat-card-subtitle>Be our order number <em style="text-decoration: underline;">{{ordersNum + 1}}</em>
    </mat-card-subtitle>
    <mat-card-subtitle>we have to offer you at least <em>{{productsNum}}</em> items for sale</mat-card-subtitle>
    <mat-card-content *ngIf="httpCallService.storeInfoTotalSum">
        <h3>Hi you have an open cart from {{httpCallService.openCartFrom | date}} with a total sum of
            {{httpCallService.storeInfoTotalSum |  currency:'ILS'}}</h3>
    </mat-card-content>
</mat-card>