.card {
    margin: 30px;
    padding: 10px;
    width: 400px;
    background: #899fb4;
    color: white;
    font-weight: bold;
}

em {
    color: white;
    text-decoration: underline;
}

.mat-card-subtitle {
    color: #42240c;
}

.header {
    color: white;
    margin-bottom: 25px;
}

mat-card-title {
    color: #c81912;
}
